<div class="spinner-container" *ngIf="isLoading">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="content" [ngClass]="{'blocked': isLoading}">
    <form (ngSubmit)="submitForm()" #documentForm="ngForm" class="form-container">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="document.name"
                #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                <div *ngIf="name.errors && name.errors['required']">Name is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="pdfInput">Data:</label>
            <input type="file" class="form-control-file" id="dataInput" name="dataInput"
                (change)="handleFileInput($event)">
        </div>

        <div class="form-group">
            <label for="authorizationId">Authorization ID:</label>
            <input type="text" class="form-control" id="authorizationId" name="authorizationId" required
                [(ngModel)]="document.authorizationId" #authorizationId="ngModel">
            <div *ngIf="authorizationId.invalid && (authorizationId.dirty || authorizationId.touched)"
                class="text-danger">
                <div *ngIf="authorizationId.errors && authorizationId.errors['required']">Authorization ID is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Select Member:</label>
            <select id="selectedMember" name="selectedMember" [(ngModel)]="document.selectedMember"
                class="form-control">
                <option *ngFor="let option of options" [value]="option">{{ option }}</option>
            </select>
        </div>

        <div *ngIf="isFormEmpty" class="text-danger">Please fill in all required fields before submitting the form.</div>

        <button type="submit" class="btn btn-primary" [disabled]="documentForm.invalid">Create Document</button>
    </form>
</div>